# 보건복지부_ 공공보건 의료기관 현황 분석

In [31]:
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
data = pd.read_csv('./보건복지부_공공보건 의료기관 현황_20161231.csv', encoding='cp949', engine='python', index_col = '연번')
data

,병원 명,설립형태,근거 법령,관계 행정기관,관계 공공단체,심평원 요양기관번호,종별구분,병상수,소재지 우편번호,주소,홈페이지,대표전화,FAX,비고
연번,,,,,,,,,,,,,,
1,강원도 재활병원,시도립,강원도재활병원설치및운영에관한조례,강원도,해당없음,32200641,병원,165,24227,강원도 춘천시 충열로 142번길 24-16,www.grh.or.kr,033-248-7700,033-248-7723,NaN
2,강원도 삼척의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100060,종합병원,152,25920,강원도 삼척시 오십천로 418,http://ksmc.or.kr,033-572-1141,033-573-8424,NaN
3,강원도 영월의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100078,종합병원,214,26234,강원도 영월군 영월읍 중앙1로 59,http://www.youngwol.org,033-370-9117,033-370-9137,NaN
4,강원도 원주의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100086,종합병원,237,26448,강원도 원주시 서원대로 387(개운동),www.kwmc.or.kr,033-760-4500,033-761-5121,NaN
5,강원도 강릉의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100159,종합병원,137,25535,강원도 강릉시 경강로 2007(남문동 164-1),http://www.gnmc.or.kr,033-646-6910,033-610-1415,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,청풍호노인사랑병원,시군구립,제천시 노인전문병원 설치및 운영에 관한 조례,충청북도,해당없음,33280576,요양병원,187,27207,충청북도 제천시 금성면 청풍호로 1147,www.cplove.co.kr,043-646-0808,043-648-5827,NaN
217,충주시 노인전문병원,시군구립,충주시노인전문병원설치 및 운영에관한 조례,충청북도,해당없음,33280088,요양병원,300,27442,충청북도 충주시 동량면 대전리 1686-28,www.hyolife.com,043-855-9393,043-855-8866,NaN
218,충청북도 충주의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,충청북도,해당없음,33100063,종합병원,292,27468,충청북도 충주시 안림로 239-50(안림동 134),www.cjmct.or.kr,043-871-0114,043-843-4231,NaN
219,영동군립노인전문병원,시군구립,영동군립노인전문병원설치 및 운영조례,충청북도,해당없음,33280681,요양병원,120,29131,충청북도 영동군 영동읍 대학로 290,cmisilveryd.com,043-744-9633,043-742-8275,NaN
220,단양군노인요양전문병원,시군구립,단양군립노인전문병원설치 및 운영조례,충청북도,해당없음,33280207,요양병원,105,27010,충청북도 단양군 단양읍 별곡6길 10,없음,043-423-8844,043-423-8874,NaN

In [33]:
#각 지역별 공공보건 의료기관에 대한 부분을 분석해 보면 어떨까 
print(data.size)

3178

In [34]:
addr = pd.DataFrame(data['주소'].apply(lambda v:v.split()[:2]).tolist(), columns = ('시도','군구'))
addr

       시도   군구
0     강원도  춘천시
1     강원도  삼척시
2     강원도  영월군
3     강원도  원주시
4     강원도  강릉시
..    ...  ...
222  충청북도  제천시
223  충청북도  충주시
224  충청북도  충주시
225  충청북도  영동군
226  충청북도  단양군

[227 rows x 2 columns]

In [35]:
addr['시도'].unique()

array(['강원도', '경기도', '경기', '경남', '창원시', '경상남도', '경상북도', '경산시', '경북',
       '인천광역시', '대구광역시', '전라남도', '대전광역시', '광주광역시', '제주특별자치도', '부산광역시',
       '전라북도', '충북', '서울특별시', '서울시', '부산특별시', '대전시', '충남', '전남', '충청남도',
       '울산광역시', '전북', '천안시', '충청북도'], dtype=object)

## 잘못된 시도 이름 수정  - 창원시, 경산시, 천안시

In [36]:
addr[addr['시도'] == '창원시']

     시도           군구
27  창원시          의창구
31  창원시  마산합포구3.15대로

In [37]:
addr.iloc[27] = ['경상남도', '창원시']
addr.iloc[31] = ['경상남도', '창원시']

In [38]:
addr[addr['시도'] == '경산시']

     시도   군구
47  경산시  경안로

In [39]:
addr.iloc[47] = ['경상북도', '경산시']

In [40]:
addr[addr['시도'] == '천안시']

      시도   군구
209  천안시  동남구
210  천안시  동남구

In [41]:
addr.iloc[209] = ['충청남도', '천안시']
addr.iloc[210] = ['충청남도', '천안시']

In [42]:
addr['시도'].unique()

array(['강원도', '경기도', '경기', '경남', '경상남도', '경상북도', '경북', '인천광역시', '대구광역시',
       '전라남도', '대전광역시', '광주광역시', '제주특별자치도', '부산광역시', '전라북도', '충북',
       '서울특별시', '서울시', '부산특별시', '대전시', '충남', '전남', '충청남도', '울산광역시', '전북',
       '충청북도'], dtype=object)

### 표준 이름으로 변경

In [44]:
addr_aliases = {'경기':'경기도', '경남':'경상남도', '경북':'경상북도', '충북':'충청북도', '서울시':'서울특별시', '부산특별시':'부산광역시', '대전시':'대전광역시', '충남':'충청남도', '전남':'전라남도', '전북':'전라북도'}

#이름 변경
addr['시도'] = addr['시도'].apply(lambda v: addr_aliases.get(v,v))

In [45]:
addr['시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '인천광역시', '대구광역시', '전라남도', '대전광역시',
       '광주광역시', '제주특별자치도', '부산광역시', '전라북도', '충청북도', '서울특별시', '충청남도',
       '울산광역시'], dtype=object)

In [47]:
addr['군구'].unique()

array(['춘천시', '삼척시', '영월군', '원주시', '강릉시', '속초시', '정선군', '수원시', '이천시',
       '안성시', '의정부시', '포천시', '파주시', '용인시', '평택시', '시흥시', '여주시', '남양주시',
       '동두천시', '안산시', '부천시', '통영시', '사천시', '창원시', '김해시', '양산시', '거창군',
       '남해군', '의령군', '포항시', '김천시', '안동시', '울진군', '경주시', '구미시', '영주시',
       '상주시', '문경시', '경산시', '의성군', '청도군', '고령군', '칠곡군', '봉화군', '울릉군',
       '부평구', '북구', '순천시', '대덕구', '태백시', '동해시', '화성시', '광산구', '남구', '중구',
       '아란13길', '서구', '전주시', '진주시', '청주시', '종로구', '성남시', '동구', '화순군',
       '강동구', '사상구', '달서구', '해운대구', '유성구', '가평군', '양주시', '고양시', '홍천군',
       '양구군', '청원군', '계룡시', '논산시', '함평군', '양평군', '수성구', '달성군', '연수구',
       '노원구', '기장군', '공주시', '강북구', '광진구', '나주시', '창녕군', '목포시', '고흥군',
       '연제구', '동매로', '서초구', '은평구', '중랑구', '강남구', '동작구', '동대문구', '양천구',
       '성동구', '송파구', '울주군', '계양구', '옹진군', '보성군', '광양시', '영광군', '무안군',
       '진도군', '강진군', '곡성군', '여수시', '신안군', '장성군', '완주군', '부안군', '정읍시',
       '남원시', '군산시', '고창군', '진안군', '제주시', '서귀포시', '천안시', '보령시', '서산시',
       '서천군', '홍성군', '제천시', '충주시', '영동군', '단양군'], dtype=object)

In [48]:
addr[addr['군구']== '아란13길']

         시도     군구
75  제주특별자치도  아란13길

In [49]:
addr.iloc[75] = ['제주특별자치도','제주시']

## 행정구역별 공공보건의료기관 수 구하기

In [50]:
addr['시도군구'] = addr.apply(lambda a : a['시도'] + " "+a['군구'], axis =1)
addr.head()

    시도   군구     시도군구
0  강원도  춘천시  강원도 춘천시
1  강원도  삼척시  강원도 삼척시
2  강원도  영월군  강원도 영월군
3  강원도  원주시  강원도 원주시
4  강원도  강릉시  강원도 강릉시

In [52]:
addr['count'] = 0 
addr.head()

    시도   군구     시도군구  count
0  강원도  춘천시  강원도 춘천시      0
1  강원도  삼척시  강원도 삼척시      0
2  강원도  영월군  강원도 영월군      0
3  강원도  원주시  강원도 원주시      0
4  강원도  강릉시  강원도 강릉시      0

In [55]:
addr_group = pd.DataFrame(addr.groupby(['시도','군구','시도군구'], as_index = False).count())
addr_group

       시도   군구      시도군구  count
0     강원도  강릉시   강원도 강릉시      4
1     강원도  동해시   강원도 동해시      1
2     강원도  삼척시   강원도 삼척시      1
3     강원도  속초시   강원도 속초시      1
4     강원도  양구군   강원도 양구군      1
..    ...  ...       ...    ...
135  충청북도  영동군  충청북도 영동군      1
136  충청북도  제천시  충청북도 제천시      1
137  충청북도  청원군  충청북도 청원군      1
138  충청북도  청주시  충청북도 청주시      4
139  충청북도  충주시  충청북도 충주시      2

[140 rows x 4 columns]

In [56]:
addr_group = addr_group.set_index('시도군구')
addr_group

            시도   군구  count
시도군구
강원도 강릉시    강원도  강릉시      4
강원도 동해시    강원도  동해시      1
강원도 삼척시    강원도  삼척시      1
강원도 속초시    강원도  속초시      1
강원도 양구군    강원도  양구군      1
...        ...  ...    ...
충청북도 영동군  충청북도  영동군      1
충청북도 제천시  충청북도  제천시      1
충청북도 청원군  충청북도  청원군      1
충청북도 청주시  충청북도  청주시      4
충청북도 충주시  충청북도  충주시      2

[140 rows x 3 columns]

## 인구 자료 가져오기

In [58]:
pop_data = pd.read_csv('./주민등록인구및세대현황_월간.csv', encoding = 'cp949')
pop_data

,행정구역,2021년11월_총인구수,2021년11월_세대수,2021년11월_세대당 인구,2021년11월_남자 인구수,2021년11월_여자 인구수,2021년11월_남여 비율
0,전국 (1000000000),"51,652,704","23,444,608",2.20,"25,754,446","25,898,258",0.99
1,서울특별시 (1100000000),"9,520,880","4,424,222",2.15,"4,624,290","4,896,590",0.94
2,부산광역시 (2600000000),"3,353,627","1,543,438",2.17,"1,640,867","1,712,760",0.96
3,대구광역시 (2700000000),"2,388,230","1,063,241",2.25,"1,177,136","1,211,094",0.97
4,인천광역시 (2800000000),"2,946,319","1,296,517",2.27,"1,475,245","1,471,074",1.00
5,광주광역시 (2900000000),"1,442,138","644,972",2.24,"713,292","728,846",0.98
6,대전광역시 (3000000000),"1,453,675","663,621",2.19,"725,406","728,269",1.00
7,울산광역시 (3100000000),"1,122,495","482,287",2.33,"576,636","545,859",1.06
8,세종특별자치시 (3600000000),"369,465","152,301",2.43,"184,441","185,024",1.00
9,경기도 (4100000000),"13,557,973","5,831,464",2.32,"6,823,931","6,734,042",1.01
10,강원도 (4200000000),"1,538,273","745,060",2.06,"774,232","764,041",1.01
11,충청북도 (4300000000),"1,597,019","759,106",2.10,"810,261","786,758",1.03
12,충청남도 (4400000000),"2,119,529","1,000,660",2.12,"1,083,419","1,036,110",1.05
13,전라북도 (4500000000),"1,788,616","848,380",2.11,"889,824","898,792",0.99
14,전라남도 (4600000000),"1,833,864","902,193",2.03,"922,677","911,187",1.01
15,경상북도 (4700000000),"2,627,468","1,275,275",2.06,"1,324,021","1,303,447",1.02
16,경상남도 (4800000000),"3,316,365","1,504,605",2.20,"1,669,512","1,646,853",1.01
17,제주특별자치도 (5000000000),"676,768","307,266",2.20,"339,256","337,512",1.01

In [59]:
pop_data = pop_data.rename(columns={'행정구역':'시도','2021년11월_총인구수':'총인구수','2021년11월_세대수':'세대수','2021년11월_세대당 인구':'세대당 인구','2021년11월_남자 인구수':'남자 인구수','2021년11월_여자 인구수':'여자 인구수','2021년11월_남여 비율':'남여 비율'})

In [60]:
pop_data

,시도,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율
0,전국 (1000000000),"51,652,704","23,444,608",2.20,"25,754,446","25,898,258",0.99
1,서울특별시 (1100000000),"9,520,880","4,424,222",2.15,"4,624,290","4,896,590",0.94
2,부산광역시 (2600000000),"3,353,627","1,543,438",2.17,"1,640,867","1,712,760",0.96
3,대구광역시 (2700000000),"2,388,230","1,063,241",2.25,"1,177,136","1,211,094",0.97
4,인천광역시 (2800000000),"2,946,319","1,296,517",2.27,"1,475,245","1,471,074",1.00
5,광주광역시 (2900000000),"1,442,138","644,972",2.24,"713,292","728,846",0.98
6,대전광역시 (3000000000),"1,453,675","663,621",2.19,"725,406","728,269",1.00
7,울산광역시 (3100000000),"1,122,495","482,287",2.33,"576,636","545,859",1.06
8,세종특별자치시 (3600000000),"369,465","152,301",2.43,"184,441","185,024",1.00
9,경기도 (4100000000),"13,557,973","5,831,464",2.32,"6,823,931","6,734,042",1.01
10,강원도 (4200000000),"1,538,273","745,060",2.06,"774,232","764,041",1.01
11,충청북도 (4300000000),"1,597,019","759,106",2.10,"810,261","786,758",1.03
12,충청남도 (4400000000),"2,119,529","1,000,660",2.12,"1,083,419","1,036,110",1.05
13,전라북도 (4500000000),"1,788,616","848,380",2.11,"889,824","898,792",0.99
14,전라남도 (4600000000),"1,833,864","902,193",2.03,"922,677","911,187",1.01
15,경상북도 (4700000000),"2,627,468","1,275,275",2.06,"1,324,021","1,303,447",1.02
16,경상남도 (4800000000),"3,316,365","1,504,605",2.20,"1,669,512","1,646,853",1.01
17,제주특별자치도 (5000000000),"676,768","307,266",2.20,"339,256","337,512",1.01

In [70]:
for i in range(len(pop_data['시도'])):
    
    sido = pop_data['시도'][i].split()[0]
    print(sido)
    pop_data['시도'][i] = sido

전국
서울특별시
부산광역시
대구광역시
인천광역시
광주광역시
대전광역시
울산광역시
세종특별자치시
경기도
강원도
충청북도
충청남도
전라북도
전라남도
경상북도
경상남도
제주특별자치도

C:\Users\admin\AppData\Local\Temp/ipykernel_17080/3977882766.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_data['시도'][i] = sido

In [71]:
pop_data

         시도        총인구수         세대수  세대당 인구      남자 인구수      여자 인구수  남여 비율
0        전국  51,652,704  23,444,608    2.20  25,754,446  25,898,258   0.99
1     서울특별시   9,520,880   4,424,222    2.15   4,624,290   4,896,590   0.94
2     부산광역시   3,353,627   1,543,438    2.17   1,640,867   1,712,760   0.96
3     대구광역시   2,388,230   1,063,241    2.25   1,177,136   1,211,094   0.97
4     인천광역시   2,946,319   1,296,517    2.27   1,475,245   1,471,074   1.00
5     광주광역시   1,442,138     644,972    2.24     713,292     728,846   0.98
6     대전광역시   1,453,675     663,621    2.19     725,406     728,269   1.00
7     울산광역시   1,122,495     482,287    2.33     576,636     545,859   1.06
8   세종특별자치시     369,465     152,301    2.43     184,441     185,024   1.00
9       경기도  13,557,973   5,831,464    2.32   6,823,931   6,734,042   1.01
10      강원도   1,538,273     745,060    2.06     774,232     764,041   1.01
11     충청북도   1,597,019     759,106    2.10     810,261     786,758   1.03
12     충청남도   2,119,529   1,000,660    2.12   1,083,419   1,036,110   1.05
13     전라북도   1,788,616     848,380    2.11     889,824     898,792   0.99
14     전라남도   1,833,864     902,193    2.03     922,677     911,187   1.01
15     경상북도   2,627,468   1,275,275    2.06   1,324,021   1,303,447   1.02
16     경상남도   3,316,365   1,504,605    2.20   1,669,512   1,646,853   1.01
17  제주특별자치도     676,768     307,266    2.20     339,256     337,512   1.01

# PDF 정보 토대로 한 지리정보 분석

In [2]:
import pandas as pd
df = pd.read_csv('./9장_data/CoffeeBean.csv', encoding='cp949', index_col = 0, header = 0, engine = 'python')
df.head()

     store                     address         phone
0  학동역 DT점        서울시 강남구 학동로 211 1층    02-3444-9973
1      수서점  서울시 강남구 광평로 280 수서동 724호    02-3412-2326
2     차병원점   서울시 강남구 논현로 566 강남차병원1층     02-538-7615
3    강남대로점       서울시 서초구 강남대로 369 1층     02-588-5778
4    메가박스점  서울 강남구 삼성동 159 코엑스몰 지하2층    02-6002-3320

# 이름 정규화
이 부분이 좀 어려움

In [3]:
addr = []
for address in df.address:
    addr.append(list(address.split())) #split으로 나눈 값들을 addr[]에 넣엇 
addr

[['서울시', '강남구', '학동로', '211', '1층'],
 ['서울시', '강남구', '광평로', '280', '수서동', '724호'],
 ['서울시', '강남구', '논현로', '566', '강남차병원1층'],
 ['서울시', '서초구', '강남대로', '369', '1층'],
 ['서울', '강남구', '삼성동', '159', '코엑스몰', '지하2층'],
 ['서울시', '강남구', '압구정로', '46길', '3'],
 ['서울시', '서초구', '서초', '1306-3호'],
 ['서울시', '강남구', '압구정로', '461', '네이처포엠빌딩B108,109호'],
 ['서울시', '강남구', '도산대로', '126'],
 ['서울시', '강남구', '논현로', '842', '압구정빌딩1층'],
 ['서울시', '강남구', '논현로', '512', '지상1,2층'],
 ['서울시', '서초구', '강남대로', '213', '24호', '지하1층'],
 ['서울시', '강남구', '삼성로', '716', 'LEE76빌딩2층'],
 ['서울', '서초구', '반포동', '736-17', 'P빌딩', '2층'],
 ['서울시', '강남구', '언주로', '30길', '10,112', '현대비젼21', '112호'],
 ['서울시', '강남구', '선릉로', '749', '1,2층'],
 ['서울시', '강남구', '테헤란로', '87길', '17', '1층'],
 ['서울시', '서초구', '서초중앙로', '118', '1층'],
 ['서울시', '강남구', '선릉로', '64길', '23', '1층'],
 ['서울시', '강남구', '도산대로49길', '13', '1층', '17,18호'],
 ['서울시', '강남구', '선릉로', '157길', '12', '석전빌딩', '1~4층'],
 ['서울시', '서초구', '강남대로', '51길', '1', '511', 'TOWER', '1층'],
 ['서울시', '강남구', '논현', '231-13호', '팍스타워지하1층'],
 ['서울', '강남구', '영동대로', '513', '컨벤션별관A동', '지하', '2층'],
 ['서울시', '강남구', '영동대로', '511', '트레이드타워', '지하1층'],
 ['서울시', '강남구', '영동대로', '607', '12번지', '1,2층'],
 ['서울시', '강남구', '삼성로', '85길', '11', '롯데캐슬아파트생활편익시설동'],
 ['서울시', '서초구', '신반포로', '23', '1141호', '엘루체백화점내1층1013~1015호'],
 ['서울시', '송파구', '석촌호수로', '118', '1층'],
 ['서울시', '서초구', '서초동', '1685-8호', '101~2호,113~4호,121호'],
 ['서울시', '강남구', '논현로', '717', '1층'],
 ['서울시', '서초구', '서초대로74길', '11', '지하2층'],
 ['서울시', '서초구', '서초대로74길', '4', '삼성생명보험서초타워내지하1층'],
 ['서울특별시', '서초구', '방배중앙로', '187'],
 ['서울시', '강남구', '테헤란로', '20길', '10', '쓰리엠타워1층'],
 ['서울시', '강남구', '테헤란로', '70길', '12', '1층'],
 ['서울시', '서초구', '효령로', '117', '3,4층'],
 ['서울시', '강남구', '봉은사로', '628', '엘슨빌딩1층'],
 ['서울시', '송파구', '오금로', '11길', '7'],
 ['서울시', '강남구', '논현로', '38길', '42', '418호'],
 ['서울시', '서초구', '서초중앙로', '43', '로얄타워1층'],
 ['서울시', '강남구', '테헤란로4길', '28', '826-28호', '1층'],
 ['서울시', '강남구', '테헤란로87길', '36', '공항타워', '1층'],
 ['서울시', '강남구', '도산대로', '67길', '7,파크빌딩', '1층'],
 ['서울시', '용산구', '이촌로', '303', '현대아파트상가11동102호'],
 ['서울', '종로구', '서린동', '136', '센트리얼빌딩', '1층'],
 ['서울시', '종로구', '대학로', '10길', '5', '1-60호'],
 ['서울시', '종로구', '새문안로3길', '23', '경희궁아침상가4단지105외'],
 ['서울시', '마포구', '홍익로', '6길', '26'],
 ['서울시', '중구', '순화202', '1-94', '프레이저플레이스레지던스1층'],
 ['서울시', '종로구', '청계천로', '83', '11-4호', '지하1,지상1~3층'],
 ['서울', '중구', '남대문로7길', '16', '한컴빌딩', '1층'],
 ['서울시', '광진구', '광나루로56길', '85', '테크노마트9층35호'],
 ['서울시', '동대문구', '이문로', '106', '1~3층'],
 ['서울시', '성북구', '개운사길8', '101-3', '1층'],
 ['서울시', '중구', '칠패로', '27', '151호'],
 ['서울시', '성동구', '왕십리', '광장로', '17', '왕십리민자역사ENTER6내1층'],
 ['서울시', '서대문구', '신촌역로', '20', '27-27,16,65,61호'],
 ['서울', '종로구', '새문안로', '9길', '25', '1층'],
 ['서울시', '서대문구', '창천', '18-26호', 'B1'],
 ['서울시', '광진구', '자양동', '227-342호', '롯데백화점', '옆', '더클래식500건물', '1층'],
 ['서울시', '종로구', '사직로', '130,1', '현대적선빌딩1층'],
 ['서울시', '노원구', '한글비석로', '263', '1층'],
 ['서울시', '중구', '한강대로', '416', '지하1층'],
 ['서울시', '양천구', '목동동로', '293', '현대41타워1층'],
 ['서울', '영등포구', '국제금융로', '52', '심팩빌딩', '1층'],
 ['서울시', '영등포구', '의사당대로', '97', '26-4', '교보증권빌딩1층'],
 ['서울시', '금천구', '시흥대로', '201', '1층'],
 ['서울시', '영등포구', '여의서로', '43', '한서리버파크2층'],
 ['부산광역시', '중구', '창선동', '2가', '8-2'],
 ['인천광역시', '남동구', '예술로', '138', '지상1,2층'],
 ['대전시', '서구', '문정로76', '1층'],
 ['경기도', '고양시', '일산동구', '장항동', '764', '라페스타C동'],
 ['경기도', '고양시', '일산동구', '정발산로', '24', 'I동103~203호'],
 ['경기도', '성남시', '분당구', '분당로53번길', '11', '1층2,3호'],
 ['경기도', '성남시', '분당구', '황새울로', '326', '서현빌딩상가내2층'],
 ['경기도', '성남시', '분당구', '야탑동354', '분당차병원신관1층분당차1호'],
 ['경기도', '성남시', '분당구', '황새울로', '214번길8', 'MSPlaza내1층'],
 ['경기도', '화성시', '노작로', '199', '동탄라마다호텔107호~111호'],
 ['경기도', '고양시', '일산서구', '대화동', '2602', '현대백화점킨텍스점', '5F'],
 ['경남', '창원시', '성산구', '중앙대로', '104', '마이우스오피스텔', '123호', '207호'],
 ['충북', '청주시', '상당구', '상당로69번길20', '2~4층'],
 ['세종특별자치시', '세종로', '2511', '고대세종캠퍼스호연학사4관1층'],
 ['충북', '청주시', '흥덕구', '대농로', '17', '지웰시티몰', '1층', '124-1,125,126호'],
 ['서울', '중구', '세종대로', '136', '파이낸스빌딩'],
 ['서울시', '강남구', '테헤란로', '8길', '42', '1층'],
 ['서울시', '중구', '태평로1', '84호', 'SFC빌딩B1,1-4'],
 ['서울시', '중구', '후암로110', '581호', '서울시티타워1층'],
 ['서울시', '송파구', '양재대로', '1222', '올림픽선수A', '1층212~3호'],
 ['서울시', '종로구', '대학로', '12길', '62', '지하1층,지상1,2층'],
 ['서울시', '영등포구', '의사당대로', '108', '아일렉스상가', '1층', '101호'],
 ['서울시', '종로구', '낙원동', '272', '오라카이스위츠', '1층'],
 ['서울시', '강남구', '테헤란로', '312', '707-2번지1층'],
 ['서울시', '관악구', '관악로', '161', '층일부', '2,3층'],
 ['서울시', '강남구', '봉은사로', '524', '코엑스', '인터컨티넨탈아케이드'],
 ['서울시', '강북구', '도봉로', '352', '효성네오인텔리안', '101호'],
 ['서울시', '강남구', '논현로', '167길', '9', '낙산프라자', '1층'],
 ['서울시', '구로구', '경인로', '662', '디큐브시티', '4층'],
 ['서울시', '종로구', '삼청로', '109'],
 ['서울시', '중구', '퇴계로', '173', '남산스퀘어', '1층'],
 ['서울시', '영등포구', '국제금융로', '20', '1층'],
 ['서울시', '강남구', '테헤란로', '439'],
 ['서울시', '강남구', '선릉로93길', '6(역삼동)', '1층'],
 ['서울시', '강남구', '테헤란로1길', '29', '1층일부', '및', '2.3층'],
 ['서울시', '강남구', '삼성로', '551', '1층,2층'],
 ['서울시', '서초구', '사임당로', '171(서초동)', 'EWR빌딩', '2층'],
 ['서울시', '강남구', '선릉로86길', '11'],
 ['서울시', '종로구', '율곡로', '47', '1,2층'],
 ['서울시', '서초구', '강남대로', '449-3', '알고코리아빌딩', '1,2층'],
 ['서울시', '영등포구', '국제금융로10', 'IFC', 'B2층'],
 ['서울시', '마포구', '상암산로', '82', 'SBS프리즘타워', '1층'],
 ['서울시', '금천구', '디지털로9길', '23', '마리오-2관', '패션타워3층'],
 ['서울', '강남구', '테헤란로', '419', '삼성금융플라자1층'],
 ['서울시', '중구', '명동10길', '51', '나인트리호텔', '본관2층'],
 ['서울시', '용산구', '이태원로', '189'],
 ['서울시', '강남구', '압구정로12길', '6'],
 ['서울시', '서초구', '강남대로', '267', '2,3층'],
 ['서울시', '강동구', '천호대로', '1096', '1,2F'],
 ['서울시', '관악구', '신림로', '318', '청암두산위브센티움1층'],
 ['경기도', '수원시', '팔달구', '권광로', '195', '학산빌딩1층'],
 ['경기도', '성남시', '분당구', '동판교로177번길', '25'],
 ['경기도', '고양시', '일산서구', '한류월드로', '300', '원마운트스포츠몰', '1층'],
 ['서울시', '중구', '명동길', '73', '1,2층'],
 ['울산광역시', '남구', '삼산로', '261', '현대백화점5층'],
 ['대구광역시', '중구', '중앙대로', '412-18'],
 ['서울시', '영등포구', '의사당대로', '97', '교보증권빌딩', '2층'],
 ['서울시', '중랑구', '망우로', '353', '프레미어스엠코', '엔터식스', 'B동', '2층'],
 ['서울시', '영등포구', '국회대로74길19', '동우국제빌딩1층'],
 ['서울시', '양천구', '오목로', '299', '트라팰리스', '이스턴에비뉴', '1층'],
 ['서울시', '강남구', '압구정로29길65', '지하1층'],
 ['서울시', '강남구', '테헤란로143', '고운빌딩1층'],
 ['서울시', '중구', '세종대로84', '2층'],
 ['인천광역시', '부평구', '시장로29', '1,2층'],
 ['서울시', '강남구', '강남대로442', '흥국화재빌딩', '2층'],
 ['서울시', '구로구', '디지털로300', '지밸리비즈플라자', '2층'],
 ['서울시', '서초구', '방배로178', '유중아트센터1층'],
 ['경기도', '성남시', '분당구', '탄천상로151번길20', '월드쇼핑', 'B동', '1층'],
 ['서울시', '강남구', '테헤란로87길22', '도심공항터미널', '지하1층'],
 ['서울시', '영등포구', '영중로15', '타임스퀘어', '1층'],
 ['서울시', '강남구', '봉은사로207', 'KJ타워1층'],
 ['서울시', '성동구', '왕십리로241', '서울숲더샵', '판매시설201동', '지하2층'],
 ['서울시', '강남구', '테헤란로521', '파르나스몰', '지하1층'],
 ['서울시', '종로구', '새문안로5가길', '7', '1층', '일부'],
 ['경기', '김포시', '고촌읍', '전호리', '654번지', '현대프리미엄아울렛김포3층', '618호'],
 ['서울시', '영등포구', '국제금융로8길6', '신영증권별관빌딩2층'],
 ['서울시', '용산구', '이태원로220(한남동)', '1층'],
 ['서울시', '서초구', '서초대로73길12', '세계빌딩1층'],
 ['경기도', '수원시', '영통구', '이의동', '1332', '광교아브뉴프랑', '1층', 'A122,123호'],
 ['서울시', '광진구', '아차산로563(광장동)', '대한제지빌딩', '로비층'],
 ['서울시', '송파구', '올림픽로100', '효창타워1층'],
 ['경상북도', '포항시', '북구', '삼호로265번길1', 'NB-City복합시설1층104호'],
 ['서울시', '관악구', '남부순환로1909', '1,2층'],
 ['경상남도', '진주시', '충의로', '19', 'LH진주사옥', '홍보관1층'],
 ['인천광역시', '중구', '공항로272', '인천국제공항탑승동3층', 'FB-C5-57'],
 ['인천광역시', '중구', '공항로272', '인천국제공항탑승동3층', 'FB-C5-68'],
 ['서울시', '용산구', '한강대로23길55', '현대아이파크몰용산', '서관6층'],
 ['경상북도', '경주시', '엑스포로80(천군동)1층'],
 ['서울시', '송파구', '석촌호수로', '222', '제이타워', '1층'],
 ['서울시', '양천구', '오목로', '350', '목동썬텍씨티빌딩', '1층,2층'],
 ['서울시', '중구', '남대문로10길', '6', '1,2층'],
 ['서울시', '중구', '명동8길', '27(명동2가)'],
 ['인천광역시', '연수구', '송도국제대로', '165(송도동)', '홈플러스송도점1층'],
 ['서울시', '강동구', '강동대로193', '1층'],
 ['서울시', '성북구', '인촌로24길', '25', '(안암동5가)', '2층,3층'],
 ['서울특별시', '서초구', '반포대로4(서초동)', '2층,', '3층'],
 ['서울시', '강남구', '영동대로85길', '9', '(대치동)', '서전빌딩1층'],
 ['경기도', '안양시', '동안구', '평촌대로', '223번길', '41(호계동', '1045-9)', '2층'],
 ['서울특별시', '강남구', '삼성로86길', '11', '거봉빌딩', '1층'],
 ['서울시', '마포구', '성암로301', 'KLID한국지역정보개발원', '1층'],
 ['경기도', '성남시', '분당구', '판교역로145(백현동)', '판교알파돔', 'C2-3블럭', '1층'],
 ['서울특별시', '강남구', '영동대로', '225', '나무병원1층', '(대치동994-5)'],
 ['경기도', '성남시', '분당구', '정자일로', '227(정자동)', '백궁지엔느주차전용빌딩', '1층'],
 ['서울특별시', '강남구', '봉은사로108', '글라스톤빌딩1층'],
 ['서울시', '강서구', '화곡6동', '1095번지', '1층'],
 ['서울시', '마포구', '상암동', '1610번지', 'DDMC', '지하', '1층'],
 ['서울시', '서대문구', '대신동', '50-5', '1층,2층(B동)'],
 ['경기도', '안양시', '동안구', '시민대로327번길', '6,', 'W', '에이스타워', '1층'],
 ['경기도', '고양시', '일산동구', '중앙로', '1193', '마두법조빌딩', '1층'],
 ['경기도', '수원시', '팔달구', '매산로', '11,', '2층'],
 ['경기도', '부천시', '부천로4', '2층'],
 ['서울시', '동대문구', '장안동', '372-1,', '1층', '일부', '및', '2층', '전체'],
 ['서울시', '서초구', '서초대로', '250', '스타갤러리', '브릿지', '1층', '101호'],
 ['경기도', '수원시', '영통구', '영통로', '214번길', '8', '1층'],
 ['서울시', '강남구', '삼성로', '352', '창진빌딩', '1층', '및', '2층'],
 ['서울시', '서초구', '동산로', '1', '1층'],
 ['서울시', '영등포구', '문래동6가', '5번지', '1층'],
 ['부산시', '해운대구', '해운대', '해변로277', '다옴빌딩1층'],
 ['서울시', '강남구', '역삼동', '718-20', '태광타워', '1층'],
 ['경기', '용인시', '수지구', '손곡로', '95', '송란빌딩', '1층'],
 ['경기도', '파주시', '청암로', '17번길', '17', '1층'],
 ['서울시', '서초구', '신반포로47길', '5', '건물전체', '1~3층'],
 ['서울시', '강동구', '올림픽로', '659', '쌍용플래티넘리버', '1층'],
 ['경기도', '용인시', '기흥구', '강남로', '3', '강남앤플러스', '1층'],
 ['서울시', '마포구', '양화로18안길', '7', '2층'],
 ['경기도', '군포시', '광정로58', '1층', '104호', '및', '2층'],
 ['경기도', '부천시', '길주로', '111', '센타플라자', '1층'],
 ['경기도', '안양시', '만안구', '안양로304번길', '12', '세진빌딩', '2층'],
 ['강원도', '원주시', '봉화로1', 'AK플라자원주점', '1층'],
 ['서울특별시',
  '송파구',
  '송파대로',
  '111,',
  '송파',
  '파크하비오',
  '하비오길',
  '극장로',
  '203동',
  '지하1층'],
 ['경기도', '고양시', '덕양구', '화신로260번길', '26', '동민프라자', '1층', '103~107호'],
 ['서울특별시', '강남구', '테헤란로', '111', '2층'],
 ['서울특별시', '서초구', '서초대로', '397', '부띠크모나코', '1층'],
 ['서울특별시', '송파구', '송파대로', '111', '송파파크하비오', '205동', '1층', '110-113'],
 ['서울', '송파구', '문정동', '643-1번지', '엠스테이트', 'B동', '지하1층'],
 ['서울특별시', '중랑구', '망우로', '291', '1층'],
 ['서울특별시', '강동구', '동남로', '885', '양지빌딩', '1층'],
 ['서울시', '노원구', '노해로', '490,', '길빌딩', '2층'],
 ['서울시', '마포구', '독막로', '13,', '2층'],
 ['서울시', '종로구', '종로', '70', '2층'],
 ['경기도', '평택시', '평남로', '862,', '로이드빌딩', '1층'],
 ['서울시', '송파구', '방이동', '44-2,', '장은빌딩', '1층'],
 ['서울특별시', '강남구', '도곡동', '543-1,', '지오빌딩', 'B1층'],
 ['서울특별시',
  '강북구',
  '한천로',
  '139길',
  '25,',
  '1층',
  '일부',
  '및',
  '2층',
  '(수유동',
  '191-70)'],
 ['인천', '연수구', '송도과학로', '16번길', '33-4', 'D동', '119호,207호'],
 ['서울특별시', '광진구', '구의강변로', '106', '삼성쉐르빌', '1층'],
 ['서울특별시', '영등포구', '국제금융로8길31', '여의도SK증권빌딩점', '1층'],
 ['서울특별시', '송파구', '충민로', '66', '가든파이브', '라이프동', '테크노관', '1층'],
 ['서울특별시', '마포구', '월드컵로', '3길', '14,', '푸르지오', '2차', '1층'],
 ['서울시', '서초구', '강남대로', '475', '2층'],
 ['서울시', '송파구', '위례광장로', '230', '위례2차', '아이파크', 'B동', '1층'],
 ['서울특별시', '종로구', '대학로', '128', '2층'],
 ['서울특별시', '성북구', '삼선교로', '12', '1층'],
 ['서울특별시', '강남구', '도곡로', '408', '디마크빌딩', '1층'],
 ['서울특별시', '강남구', '강남대로112길', '20', '1층,', '2층'],
 ['부산광역시', '수영구', '수영로', '667', '1층'],
 ['부산광역시', '기장군', '정관로', '563', '1층,2층'],
 ['경기도', '수원시', '장안구', '경수대로', '989'],
 ['서울특별시', '마포구', '양화로', '196(동교동)'],
 ['경기도', '성남시', '수정구', '수정로', '190', '(신흥동)'],
 ['서울시', '은평구', '은평로', '121(응암동),', '메디컬빌딩'],
 ['경기도', '수원시', '권선구', '수인로', '291(구운동),', '이마트', '서수원점', '1층'],
 ['서울특별시', '강서구', '강서로', '457(마곡동)'],
 ['경기', '수원시', '장안구', '서부로', '2066,', '성균관대', '자연과학', '캠퍼스', 'N센터', '1층'],
 ['서울특별시', '강서구', '마곡동로', '55', '마커스빌딩', '1층'],
 ['서울', '송파구', '방이동', '206-11'],
 ['서울시', '영등포구', '국제금융로10', 'IFC', 'Mall', 'L2(2층)'],
 ['경기도', '화성시', '능동', '453-4,453-8,454-1', '소재', '건물(1~3층)'],
 ['경기도', '수원시', '팔달구', '인계로79', '(인계동)'],
 ['인천광역시', '중구', '운서동', '2868', '인천공항', '제2터미널', '1층', '연번(23-124)'],
 ['부산광역시', '부산진구', '서전로', '12,', '1층'],
 ['경기도', '성남시', '분당구', '야탑로64', 'DS타워', '1층'],
 ['서울시', '용산구', '한강대로95'],
 ['서울특별시', '강남구', '선릉로', '433', '세방빌딩', '1층']]

In [4]:
#서울시, 서울 - 서울특별시
#대전시 - 대전광역시
#경남 - 경상남도
#충북 - 충청북도
#경기 - 경기도
#addr[0][0] = '서울특별시'
#addr
print(type(addr), type(addr[0]))
addr2 = []

for i in range(len(addr)):
    if addr[i][0] == '서울시' : addr[i][0] = '서울특별시'
    elif addr[i][0] == '서울' : addr[i][0] = '서울특별시'
    elif addr[i][0] == '대전시' : addr[i][0] = '대전광역시'
    elif addr[i][0] == '경남' : addr[i][0] = '경상남도'
    elif addr[i][0] == '충북' : addr[i][0] = '충청북도'
    elif addr[i][0] == '경기' : addr[i][0] = '경기도'
    elif addr[i][0] == '전남' : addr[i][0] = '전라남도'
    elif addr[i][0] == '전북' : addr[i][0] = '전라북도'
    elif addr[i][0] == '부산' : addr[i][0] = '부산광역시'
    elif addr[i][0] == '부산시' : addr[i][0] = '부산광역시'
    elif addr[i][0] == '제주' : addr[i][0] = '제주특별시'
    elif addr[i][0] == '충남' : addr[i][0] = '충청남도'
    elif addr[i][0] == '세종' : addr[i][0] = '세종특별시'
    elif addr[i][0] == '세종시' : addf[i][0] = '세종특별시'
    elif addr[i][0] == '충남' : addr[i][0] = '충청남도'
    elif addr[i][0] == '제주도' : addr[i][0] = '제주특별시'
    elif addr[i][0] == '제주시' : addr[i][0] = '제주특별시'
    elif addr[i][0] == '경북' : addr[i][0] = '경상북도'
    elif addr[i][0] == '광주' : addr[i][0] = '광주광역시'
    
    #” “.join( list ) : 리스트에서 문자열으로
    addr2.append(' '.join(addr[i]))
                                
addr2

<class 'list'> <class 'list'>

['서울특별시 강남구 학동로 211 1층',
 '서울특별시 강남구 광평로 280 수서동 724호',
 '서울특별시 강남구 논현로 566 강남차병원1층',
 '서울특별시 서초구 강남대로 369 1층',
 '서울특별시 강남구 삼성동 159 코엑스몰 지하2층',
 '서울특별시 강남구 압구정로 46길 3',
 '서울특별시 서초구 서초 1306-3호',
 '서울특별시 강남구 압구정로 461 네이처포엠빌딩B108,109호',
 '서울특별시 강남구 도산대로 126',
 '서울특별시 강남구 논현로 842 압구정빌딩1층',
 '서울특별시 강남구 논현로 512 지상1,2층',
 '서울특별시 서초구 강남대로 213 24호 지하1층',
 '서울특별시 강남구 삼성로 716 LEE76빌딩2층',
 '서울특별시 서초구 반포동 736-17 P빌딩 2층',
 '서울특별시 강남구 언주로 30길 10,112 현대비젼21 112호',
 '서울특별시 강남구 선릉로 749 1,2층',
 '서울특별시 강남구 테헤란로 87길 17 1층',
 '서울특별시 서초구 서초중앙로 118 1층',
 '서울특별시 강남구 선릉로 64길 23 1층',
 '서울특별시 강남구 도산대로49길 13 1층 17,18호',
 '서울특별시 강남구 선릉로 157길 12 석전빌딩 1~4층',
 '서울특별시 서초구 강남대로 51길 1 511 TOWER 1층',
 '서울특별시 강남구 논현 231-13호 팍스타워지하1층',
 '서울특별시 강남구 영동대로 513 컨벤션별관A동 지하 2층',
 '서울특별시 강남구 영동대로 511 트레이드타워 지하1층',
 '서울특별시 강남구 영동대로 607 12번지 1,2층',
 '서울특별시 강남구 삼성로 85길 11 롯데캐슬아파트생활편익시설동',
 '서울특별시 서초구 신반포로 23 1141호 엘루체백화점내1층1013~1015호',
 '서울특별시 송파구 석촌호수로 118 1층',
 '서울특별시 서초구 서초동 1685-8호 101~2호,113~4호,121호',
 '서울특별시 강남구 논현로 717 1층',
 '서울특별시 서초구 서초대로74길 11 지하2층',
 '서울특별시 서초구 서초대로74길 4 삼성생명보험서초타워내지하1층',
 '서울특별시 서초구 방배중앙로 187',
 '서울특별시 강남구 테헤란로 20길 10 쓰리엠타워1층',
 '서울특별시 강남구 테헤란로 70길 12 1층',
 '서울특별시 서초구 효령로 117 3,4층',
 '서울특별시 강남구 봉은사로 628 엘슨빌딩1층',
 '서울특별시 송파구 오금로 11길 7',
 '서울특별시 강남구 논현로 38길 42 418호',
 '서울특별시 서초구 서초중앙로 43 로얄타워1층',
 '서울특별시 강남구 테헤란로4길 28 826-28호 1층',
 '서울특별시 강남구 테헤란로87길 36 공항타워 1층',
 '서울특별시 강남구 도산대로 67길 7,파크빌딩 1층',
 '서울특별시 용산구 이촌로 303 현대아파트상가11동102호',
 '서울특별시 종로구 서린동 136 센트리얼빌딩 1층',
 '서울특별시 종로구 대학로 10길 5 1-60호',
 '서울특별시 종로구 새문안로3길 23 경희궁아침상가4단지105외',
 '서울특별시 마포구 홍익로 6길 26',
 '서울특별시 중구 순화202 1-94 프레이저플레이스레지던스1층',
 '서울특별시 종로구 청계천로 83 11-4호 지하1,지상1~3층',
 '서울특별시 중구 남대문로7길 16 한컴빌딩 1층',
 '서울특별시 광진구 광나루로56길 85 테크노마트9층35호',
 '서울특별시 동대문구 이문로 106 1~3층',
 '서울특별시 성북구 개운사길8 101-3 1층',
 '서울특별시 중구 칠패로 27 151호',
 '서울특별시 성동구 왕십리 광장로 17 왕십리민자역사ENTER6내1층',
 '서울특별시 서대문구 신촌역로 20 27-27,16,65,61호',
 '서울특별시 종로구 새문안로 9길 25 1층',
 '서울특별시 서대문구 창천 18-26호 B1',
 '서울특별시 광진구 자양동 227-342호 롯데백화점 옆 더클래식500건물 1층',
 '서울특별시 종로구 사직로 130,1 현대적선빌딩1층',
 '서울특별시 노원구 한글비석로 263 1층',
 '서울특별시 중구 한강대로 416 지하1층',
 '서울특별시 양천구 목동동로 293 현대41타워1층',
 '서울특별시 영등포구 국제금융로 52 심팩빌딩 1층',
 '서울특별시 영등포구 의사당대로 97 26-4 교보증권빌딩1층',
 '서울특별시 금천구 시흥대로 201 1층',
 '서울특별시 영등포구 여의서로 43 한서리버파크2층',
 '부산광역시 중구 창선동 2가 8-2',
 '인천광역시 남동구 예술로 138 지상1,2층',
 '대전광역시 서구 문정로76 1층',
 '경기도 고양시 일산동구 장항동 764 라페스타C동',
 '경기도 고양시 일산동구 정발산로 24 I동103~203호',
 '경기도 성남시 분당구 분당로53번길 11 1층2,3호',
 '경기도 성남시 분당구 황새울로 326 서현빌딩상가내2층',
 '경기도 성남시 분당구 야탑동354 분당차병원신관1층분당차1호',
 '경기도 성남시 분당구 황새울로 214번길8 MSPlaza내1층',
 '경기도 화성시 노작로 199 동탄라마다호텔107호~111호',
 '경기도 고양시 일산서구 대화동 2602 현대백화점킨텍스점 5F',
 '경상남도 창원시 성산구 중앙대로 104 마이우스오피스텔 123호 207호',
 '충청북도 청주시 상당구 상당로69번길20 2~4층',
 '세종특별자치시 세종로 2511 고대세종캠퍼스호연학사4관1층',
 '충청북도 청주시 흥덕구 대농로 17 지웰시티몰 1층 124-1,125,126호',
 '서울특별시 중구 세종대로 136 파이낸스빌딩',
 '서울특별시 강남구 테헤란로 8길 42 1층',
 '서울특별시 중구 태평로1 84호 SFC빌딩B1,1-4',
 '서울특별시 중구 후암로110 581호 서울시티타워1층',
 '서울특별시 송파구 양재대로 1222 올림픽선수A 1층212~3호',
 '서울특별시 종로구 대학로 12길 62 지하1층,지상1,2층',
 '서울특별시 영등포구 의사당대로 108 아일렉스상가 1층 101호',
 '서울특별시 종로구 낙원동 272 오라카이스위츠 1층',
 '서울특별시 강남구 테헤란로 312 707-2번지1층',
 '서울특별시 관악구 관악로 161 층일부 2,3층',
 '서울특별시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드',
 '서울특별시 강북구 도봉로 352 효성네오인텔리안 101호',
 '서울특별시 강남구 논현로 167길 9 낙산프라자 1층',
 '서울특별시 구로구 경인로 662 디큐브시티 4층',
 '서울특별시 종로구 삼청로 109',
 '서울특별시 중구 퇴계로 173 남산스퀘어 1층',
 '서울특별시 영등포구 국제금융로 20 1층',
 '서울특별시 강남구 테헤란로 439',
 '서울특별시 강남구 선릉로93길 6(역삼동) 1층',
 '서울특별시 강남구 테헤란로1길 29 1층일부 및 2.3층',
 '서울특별시 강남구 삼성로 551 1층,2층',
 '서울특별시 서초구 사임당로 171(서초동) EWR빌딩 2층',
 '서울특별시 강남구 선릉로86길 11',
 '서울특별시 종로구 율곡로 47 1,2층',
 '서울특별시 서초구 강남대로 449-3 알고코리아빌딩 1,2층',
 '서울특별시 영등포구 국제금융로10 IFC B2층',
 '서울특별시 마포구 상암산로 82 SBS프리즘타워 1층',
 '서울특별시 금천구 디지털로9길 23 마리오-2관 패션타워3층',
 '서울특별시 강남구 테헤란로 419 삼성금융플라자1층',
 '서울특별시 중구 명동10길 51 나인트리호텔 본관2층',
 '서울특별시 용산구 이태원로 189',
 '서울특별시 강남구 압구정로12길 6',
 '서울특별시 서초구 강남대로 267 2,3층',
 '서울특별시 강동구 천호대로 1096 1,2F',
 '서울특별시 관악구 신림로 318 청암두산위브센티움1층',
 '경기도 수원시 팔달구 권광로 195 학산빌딩1층',
 '경기도 성남시 분당구 동판교로177번길 25',
 '경기도 고양시 일산서구 한류월드로 300 원마운트스포츠몰 1층',
 '서울특별시 중구 명동길 73 1,2층',
 '울산광역시 남구 삼산로 261 현대백화점5층',
 '대구광역시 중구 중앙대로 412-18',
 '서울특별시 영등포구 의사당대로 97 교보증권빌딩 2층',
 '서울특별시 중랑구 망우로 353 프레미어스엠코 엔터식스 B동 2층',
 '서울특별시 영등포구 국회대로74길19 동우국제빌딩1층',
 '서울특별시 양천구 오목로 299 트라팰리스 이스턴에비뉴 1층',
 '서울특별시 강남구 압구정로29길65 지하1층',
 '서울특별시 강남구 테헤란로143 고운빌딩1층',
 '서울특별시 중구 세종대로84 2층',
 '인천광역시 부평구 시장로29 1,2층',
 '서울특별시 강남구 강남대로442 흥국화재빌딩 2층',
 '서울특별시 구로구 디지털로300 지밸리비즈플라자 2층',
 '서울특별시 서초구 방배로178 유중아트센터1층',
 '경기도 성남시 분당구 탄천상로151번길20 월드쇼핑 B동 1층',
 '서울특별시 강남구 테헤란로87길22 도심공항터미널 지하1층',
 '서울특별시 영등포구 영중로15 타임스퀘어 1층',
 '서울특별시 강남구 봉은사로207 KJ타워1층',
 '서울특별시 성동구 왕십리로241 서울숲더샵 판매시설201동 지하2층',
 '서울특별시 강남구 테헤란로521 파르나스몰 지하1층',
 '서울특별시 종로구 새문안로5가길 7 1층 일부',
 '경기도 김포시 고촌읍 전호리 654번지 현대프리미엄아울렛김포3층 618호',
 '서울특별시 영등포구 국제금융로8길6 신영증권별관빌딩2층',
 '서울특별시 용산구 이태원로220(한남동) 1층',
 '서울특별시 서초구 서초대로73길12 세계빌딩1층',
 '경기도 수원시 영통구 이의동 1332 광교아브뉴프랑 1층 A122,123호',
 '서울특별시 광진구 아차산로563(광장동) 대한제지빌딩 로비층',
 '서울특별시 송파구 올림픽로100 효창타워1층',
 '경상북도 포항시 북구 삼호로265번길1 NB-City복합시설1층104호',
 '서울특별시 관악구 남부순환로1909 1,2층',
 '경상남도 진주시 충의로 19 LH진주사옥 홍보관1층',
 '인천광역시 중구 공항로272 인천국제공항탑승동3층 FB-C5-57',
 '인천광역시 중구 공항로272 인천국제공항탑승동3층 FB-C5-68',
 '서울특별시 용산구 한강대로23길55 현대아이파크몰용산 서관6층',
 '경상북도 경주시 엑스포로80(천군동)1층',
 '서울특별시 송파구 석촌호수로 222 제이타워 1층',
 '서울특별시 양천구 오목로 350 목동썬텍씨티빌딩 1층,2층',
 '서울특별시 중구 남대문로10길 6 1,2층',
 '서울특별시 중구 명동8길 27(명동2가)',
 '인천광역시 연수구 송도국제대로 165(송도동) 홈플러스송도점1층',
 '서울특별시 강동구 강동대로193 1층',
 '서울특별시 성북구 인촌로24길 25 (안암동5가) 2층,3층',
 '서울특별시 서초구 반포대로4(서초동) 2층, 3층',
 '서울특별시 강남구 영동대로85길 9 (대치동) 서전빌딩1층',
 '경기도 안양시 동안구 평촌대로 223번길 41(호계동 1045-9) 2층',
 '서울특별시 강남구 삼성로86길 11 거봉빌딩 1층',
 '서울특별시 마포구 성암로301 KLID한국지역정보개발원 1층',
 '경기도 성남시 분당구 판교역로145(백현동) 판교알파돔 C2-3블럭 1층',
 '서울특별시 강남구 영동대로 225 나무병원1층 (대치동994-5)',
 '경기도 성남시 분당구 정자일로 227(정자동) 백궁지엔느주차전용빌딩 1층',
 '서울특별시 강남구 봉은사로108 글라스톤빌딩1층',
 '서울특별시 강서구 화곡6동 1095번지 1층',
 '서울특별시 마포구 상암동 1610번지 DDMC 지하 1층',
 '서울특별시 서대문구 대신동 50-5 1층,2층(B동)',
 '경기도 안양시 동안구 시민대로327번길 6, W 에이스타워 1층',
 '경기도 고양시 일산동구 중앙로 1193 마두법조빌딩 1층',
 '경기도 수원시 팔달구 매산로 11, 2층',
 '경기도 부천시 부천로4 2층',
 '서울특별시 동대문구 장안동 372-1, 1층 일부 및 2층 전체',
 '서울특별시 서초구 서초대로 250 스타갤러리 브릿지 1층 101호',
 '경기도 수원시 영통구 영통로 214번길 8 1층',
 '서울특별시 강남구 삼성로 352 창진빌딩 1층 및 2층',
 '서울특별시 서초구 동산로 1 1층',
 '서울특별시 영등포구 문래동6가 5번지 1층',
 '부산광역시 해운대구 해운대 해변로277 다옴빌딩1층',
 '서울특별시 강남구 역삼동 718-20 태광타워 1층',
 '경기도 용인시 수지구 손곡로 95 송란빌딩 1층',
 '경기도 파주시 청암로 17번길 17 1층',
 '서울특별시 서초구 신반포로47길 5 건물전체 1~3층',
 '서울특별시 강동구 올림픽로 659 쌍용플래티넘리버 1층',
 '경기도 용인시 기흥구 강남로 3 강남앤플러스 1층',
 '서울특별시 마포구 양화로18안길 7 2층',
 '경기도 군포시 광정로58 1층 104호 및 2층',
 '경기도 부천시 길주로 111 센타플라자 1층',
 '경기도 안양시 만안구 안양로304번길 12 세진빌딩 2층',
 '강원도 원주시 봉화로1 AK플라자원주점 1층',
 '서울특별시 송파구 송파대로 111, 송파 파크하비오 하비오길 극장로 203동 지하1층',
 '경기도 고양시 덕양구 화신로260번길 26 동민프라자 1층 103~107호',
 '서울특별시 강남구 테헤란로 111 2층',
 '서울특별시 서초구 서초대로 397 부띠크모나코 1층',
 '서울특별시 송파구 송파대로 111 송파파크하비오 205동 1층 110-113',
 '서울특별시 송파구 문정동 643-1번지 엠스테이트 B동 지하1층',
 '서울특별시 중랑구 망우로 291 1층',
 '서울특별시 강동구 동남로 885 양지빌딩 1층',
 '서울특별시 노원구 노해로 490, 길빌딩 2층',
 '서울특별시 마포구 독막로 13, 2층',
 '서울특별시 종로구 종로 70 2층',
 '경기도 평택시 평남로 862, 로이드빌딩 1층',
 '서울특별시 송파구 방이동 44-2, 장은빌딩 1층',
 '서울특별시 강남구 도곡동 543-1, 지오빌딩 B1층',
 '서울특별시 강북구 한천로 139길 25, 1층 일부 및 2층 (수유동 191-70)',
 '인천 연수구 송도과학로 16번길 33-4 D동 119호,207호',
 '서울특별시 광진구 구의강변로 106 삼성쉐르빌 1층',
 '서울특별시 영등포구 국제금융로8길31 여의도SK증권빌딩점 1층',
 '서울특별시 송파구 충민로 66 가든파이브 라이프동 테크노관 1층',
 '서울특별시 마포구 월드컵로 3길 14, 푸르지오 2차 1층',
 '서울특별시 서초구 강남대로 475 2층',
 '서울특별시 송파구 위례광장로 230 위례2차 아이파크 B동 1층',
 '서울특별시 종로구 대학로 128 2층',
 '서울특별시 성북구 삼선교로 12 1층',
 '서울특별시 강남구 도곡로 408 디마크빌딩 1층',
 '서울특별시 강남구 강남대로112길 20 1층, 2층',
 '부산광역시 수영구 수영로 667 1층',
 '부산광역시 기장군 정관로 563 1층,2층',
 '경기도 수원시 장안구 경수대로 989',
 '서울특별시 마포구 양화로 196(동교동)',
 '경기도 성남시 수정구 수정로 190 (신흥동)',
 '서울특별시 은평구 은평로 121(응암동), 메디컬빌딩',
 '경기도 수원시 권선구 수인로 291(구운동), 이마트 서수원점 1층',
 '서울특별시 강서구 강서로 457(마곡동)',
 '경기도 수원시 장안구 서부로 2066, 성균관대 자연과학 캠퍼스 N센터 1층',
 '서울특별시 강서구 마곡동로 55 마커스빌딩 1층',
 '서울특별시 송파구 방이동 206-11',
 '서울특별시 영등포구 국제금융로10 IFC Mall L2(2층)',
 '경기도 화성시 능동 453-4,453-8,454-1 소재 건물(1~3층)',
 '경기도 수원시 팔달구 인계로79 (인계동)',
 '인천광역시 중구 운서동 2868 인천공항 제2터미널 1층 연번(23-124)',
 '부산광역시 부산진구 서전로 12, 1층',
 '경기도 성남시 분당구 야탑로64 DS타워 1층',
 '서울특별시 용산구 한강대로95',
 '서울특별시 강남구 선릉로 433 세방빌딩 1층']

In [5]:
addr_df = pd.DataFrame(addr2, columns = ['address2'])
addr_df

                                       address2
0                          서울특별시 강남구 학동로 211 1층
1                    서울특별시 강남구 광평로 280 수서동 724호
2                     서울특별시 강남구 논현로 566 강남차병원1층
3                         서울특별시 서초구 강남대로 369 1층
4                   서울특별시 강남구 삼성동 159 코엑스몰 지하2층
..                                          ...
238  인천광역시 중구 운서동 2868 인천공항 제2터미널 1층 연번(23-124)
239                       부산광역시 부산진구 서전로 12, 1층
240                   경기도 성남시 분당구 야탑로64 DS타워 1층
241                            서울특별시 용산구 한강대로95
242                   서울특별시 강남구 선릉로 433 세방빌딩 1층

[243 rows x 1 columns]

In [6]:
df2 = pd.concat([df, addr_df], axis = 1) #리스트로 넣거라.
df2

,store,address,phone,address2
0,학동역 DT점,서울시 강남구 학동로 211 1층,02-3444-9973,서울특별시 강남구 학동로 211 1층
1,수서점,서울시 강남구 광평로 280 수서동 724호,02-3412-2326,서울특별시 강남구 광평로 280 수서동 724호
2,차병원점,서울시 강남구 논현로 566 강남차병원1층,02-538-7615,서울특별시 강남구 논현로 566 강남차병원1층
3,강남대로점,서울시 서초구 강남대로 369 1층,02-588-5778,서울특별시 서초구 강남대로 369 1층
4,메가박스점,서울 강남구 삼성동 159 코엑스몰 지하2층,02-6002-3320,서울특별시 강남구 삼성동 159 코엑스몰 지하2층
...,...,...,...,...
238,인천공항 제2여객터미널 입구점,인천광역시 중구 운서동 2868 인천공항 제2터미널 1층 연번(23-124),032-743-2894,인천광역시 중구 운서동 2868 인천공항 제2터미널 1층 연번(23-124)
239,부산서면서전로점,"부산광역시 부산진구 서전로 12, 1층",051-819-8708,"부산광역시 부산진구 서전로 12, 1층"
240,분당차병원본관앞점,경기도 성남시 분당구 야탑로64 DS타워 1층,031-8017-8243,경기도 성남시 분당구 야탑로64 DS타워 1층
241,신용산역래미안점,서울시 용산구 한강대로95,02-2074-1049,서울특별시 용산구 한강대로95
242,선릉역3번출구세방빌딩점,서울특별시 강남구 선릉로 433 세방빌딩 1층,02-2051-9328,서울특별시 강남구 선릉로 433 세방빌딩 1층

In [7]:
df2.to_csv('./9장_data/CoffeBean_2_saeha.csv', encoding = 'cp949', index = False)

In [8]:
import folium

In [9]:
map_osm = folium.Map(location=[37.560284, 126.975334], zoom_start = 16) #지도 위치 
map_osm.save('./9장_data/map2.html')

In [10]:
folium.Marker([37.560284, 126.975334], tooltip= '숭례문').add_to(map_osm)
map_osm.save('./9장_data/map2.html')

In [11]:
cb_data = pd.read_csv('./9장_data/CoffeBean_2_saeha.csv', encoding='cp949', engine = 'python')
cb_data.head()

,store,address,phone,address2
0,학동역 DT점,서울시 강남구 학동로 211 1층,02-3444-9973,서울특별시 강남구 학동로 211 1층
1,수서점,서울시 강남구 광평로 280 수서동 724호,02-3412-2326,서울특별시 강남구 광평로 280 수서동 724호
2,차병원점,서울시 강남구 논현로 566 강남차병원1층,02-538-7615,서울특별시 강남구 논현로 566 강남차병원1층
3,강남대로점,서울시 서초구 강남대로 369 1층,02-588-5778,서울특별시 서초구 강남대로 369 1층
4,메가박스점,서울 강남구 삼성동 159 코엑스몰 지하2층,02-6002-3320,서울특별시 강남구 삼성동 159 코엑스몰 지하2층

In [12]:
CB_geoData = pd.read_csv('./9장_data/CB_geo.shp_2.csv',encoding='cp949',  engine='python')

len(CB_geoData) #확인용 출력
CB_geoData

,No,store,address,phone,address2,경도,위도,상태
0,1,학동역 DT점,서울시 강남구 학동로 211 1층,02-3444-9973,서울특별시 강남구 학동로 211 1층,127.032053,37.514678,정좌표
1,2,수서점,서울시 강남구 광평로 280 수서동 724호,02-3412-2326,서울특별시 강남구 광평로 280 수서동 724호,127.103108,37.487319,정좌표
2,3,차병원점,서울시 강남구 논현로 566 강남차병원1층,02-538-7615,서울특별시 강남구 논현로 566 강남차병원1층,127.034824,37.506440,정좌표
3,4,강남대로점,서울시 서초구 강남대로 369 1층,02-588-5778,서울특별시 서초구 강남대로 369 1층,127.028217,37.495661,정좌표
4,5,메가박스점,서울 강남구 삼성동 159 코엑스몰 지하2층,02-6002-3320,서울특별시 강남구 삼성동 159 코엑스몰 지하2층,127.058795,37.512512,정좌표
...,...,...,...,...,...,...,...,...
238,239,인천공항 제2여객터미널 입구점,인천광역시 중구 운서동 2868 인천공항 제2터미널 1층 연번(23-124),032-743-2894,인천광역시 중구 운서동 2868 인천공항 제2터미널 1층 연번(23-124),126.433631,37.468589,정좌표
239,240,부산서면서전로점,"부산광역시 부산진구 서전로 12, 1층",051-819-8708,"부산광역시 부산진구 서전로 12, 1층",129.060872,35.157524,정좌표
240,241,분당차병원본관앞점,경기도 성남시 분당구 야탑로64 DS타워 1층,031-8017-8243,경기도 성남시 분당구 야탑로64 DS타워 1층,127.125979,37.409503,정좌표
241,242,신용산역래미안점,서울시 용산구 한강대로95,02-2074-1049,서울특별시 용산구 한강대로95,126.967287,37.529452,정좌표
242,243,선릉역3번출구세방빌딩점,서울특별시 강남구 선릉로 433 세방빌딩 1층,02-2051-9328,서울특별시 강남구 선릉로 433 세방빌딩 1층,127.048916,37.503777,정좌표

In [13]:
for i, store in CB_geoData.iterrows():
    folium.Marker(location = [store['위도'], store['경도']], popup=store['store'], icon=folium.Icon(color='red', icon='star')).add_to(map_osm)
    map_osm.save('./9장_data/map_CB_saeha.html')

In [15]:
#이게 더 느리자낭 
for i in CB_geoData.index:
    folium.Marker(location=[CB_geoData.loc[i]['위도'],CB_geoData.loc[i]['경도']], popup=CB_geoData.loc[i]['store'],icon=folium.Icon(color='blue', icon='star')).add_to(map_osm)
    map_osm.save('./9장_data/map_CB_saeha2.html')